{% load i18n %}
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"> Logo </a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li {% if view == 'photo' %} class="active"{% endif %}><a href="{% url 'photo' %}" >
           {% trans "PHOTO" %}</a>
        </li>
        <li {% if view == 'media' %} class="active"{% endif %}><a href="{% url 'media' %}">
           {% trans "MEDIA" %}</a>
        </li>     </ul>
    </div>
  </div>
</div>
